@tailwind base;
@tailwind components;
@tailwind utilities;



.leaflet-container {
    height: 70vh;
    width: 100%;
    z-index: -1;
  }
  
  @media (max-width: 480px) {
    .leaflet-container {
      height: 50vh;
      width: 100%;
      z-index: -1;
    }
  }

  .ReactCollapse--collapse {
    transition: height 500ms;
  }
  
  .inactive {
    display: none;
  }
  
  .active {
    display: block;
  }